<div>
    <h2 data-translate="benchApp.projectHistory.home.title">Project Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="benchApp.projectHistory.home.createLabel">
                        Create new Project History
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'benchApp.projectHistory.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="benchApp.projectHistory.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workload"><span data-translate="benchApp.projectHistory.workload">Workload</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="employee.id"><span data-translate="benchApp.projectHistory.employee">Employee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="role.id"><span data-translate="benchApp.projectHistory.role">Role</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="project.id"><span data-translate="benchApp.projectHistory.project">Project</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="projectHistory in vm.projectHistories track by projectHistory.id">
                    <td><a ui-sref="project-history-detail({id:projectHistory.id})">{{projectHistory.id}}</a></td>
                        <td>{{projectHistory.date | date:'mediumDate'}}</td>
                    <td>{{projectHistory.workload}}</td>
                    <td>
                        <a ui-sref="employee-detail({id:projectHistory.employee.id})">{{projectHistory.employee.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-role-detail({id:projectHistory.role.id})">{{projectHistory.role.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:projectHistory.project.id})">{{projectHistory.project.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-history-detail({id:projectHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-history.edit({id:projectHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-history.delete({id:projectHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
