
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectHistoryLabel" data-translate="benchApp.projectHistory.home.createOrEditLabel">Create or edit a Project History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.projectHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.projectHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="benchApp.projectHistory.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.projectHistory.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="benchApp.projectHistory.workload" for="field_workload">Workload</label>
            <input type="number" class="form-control" name="workload" id="field_workload"
                    ng-model="vm.projectHistory.workload"
                    required />
            <div ng-show="editForm.workload.$invalid">
                <p class="help-block"
                    ng-show="editForm.workload.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.workload.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="benchApp.projectHistory.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.projectHistory.employee" ng-options="employee as employee.id for employee in vm.employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="benchApp.projectHistory.role" for="field_role">Role</label>
            <select class="form-control" id="field_role" name="role" ng-model="vm.projectHistory.role" ng-options="projectRole as projectRole.id for projectRole in vm.roles | orderBy:'id' track by projectRole.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="benchApp.projectHistory.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.projectHistory.project" ng-options="project as project.id for project in vm.projects | orderBy:'id' track by project.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
