
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBenchCommentHistoryLabel" data-translate="benchApp.benchCommentHistory.home.createOrEditLabel">Create or edit a Bench Comment History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.benchCommentHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.benchCommentHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="benchApp.benchCommentHistory.changeTime" for="field_changeTime">Change Time</label>
                <div class="input-group">
                    <input id="field_changeTime" type="text" class="form-control" name="changeTime" datetime-picker="{{dateformat}}" ng-model="vm.benchCommentHistory.changeTime" is-open="vm.datePickerOpenStatus.changeTime"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('changeTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.changeTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.changeTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.changeTime.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="benchApp.benchCommentHistory.oldValue" for="field_oldValue">Old Value</label>
            <input type="text" class="form-control" name="oldValue" id="field_oldValue"
                    ng-model="vm.benchCommentHistory.oldValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="benchApp.benchCommentHistory.newValue" for="field_newValue">New Value</label>
            <input type="text" class="form-control" name="newValue" id="field_newValue"
                    ng-model="vm.benchCommentHistory.newValue"
                     />
        </div>

        <div class="form-group">
            <label data-translate="benchApp.benchCommentHistory.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.benchCommentHistory.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="benchApp.benchCommentHistory.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.benchCommentHistory.employee" ng-options="employee as employee.id for employee in vm.employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
